@using System.Data.Entity
@model IEnumerable<MoonMarsTravelAgency.Models.Schedule>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="jumbotron">
        <h1 class="welcome"><span class="moon">Moon</span>-<span class="mars">Mars</span> Travel Agency</h1>
        <p class="s_welcome">Leon&amp;Dori Musk</p>
        <p class="blockquote-footer">Order flights now!</p>
        <link href="~/Content/Site.css" rel="stylesheet" />
    </div>

    @using (Html.BeginForm("Search", "Schedules", FormMethod.Post))
    {
        <div class="row mb-1" id="items">

            <div class="col">
                <label for="moon">Origin</label>
                <select name="moon" id="moon" class="form-control me-2">
                    <optgroup class="bg-secondary fw-bold" label="Moon">
                        @foreach (var moon in ViewBag.moon)
                        {
                            <option value="@moon.Crater">@moon.Crater</option>
                        }
                    </optgroup>
                    <optgroup class="bg-warning fw-bold" label="Mars">
                        @foreach (var mars in ViewBag.mars)
                        {
                            <option value="@mars.Crater">@mars.Crater</option>
                        }
                    </optgroup>
                </select>
            </div>

            <div class="col">

                <label for="mars">Destination</label>
                <select name="mars" id="mars" class="form-control me-2">
                    <optgroup class="bg-secondary fw-bold" label="Moon">
                        @foreach (var moon in ViewBag.moon)
                        {
                            <option value="@moon.Crater">@moon.Crater</option>
                        }
                    </optgroup>
                    <optgroup class="bg-warning fw-bold" label="Mars">
                        @foreach (var mars in ViewBag.mars)
                        {
                            <option value="@mars.Crater">@mars.Crater</option>
                        }
                    </optgroup>
                </select>
            </div>

            <div class="col">
                @Html.Label("Departure")
                @Html.TextBox("Departure", "", htmlAttributes: new { @class = "form-control me-2", type = "date" })
            </div>

            <div class="col">
                @Html.Label("Return")
                @Html.TextBox("Return", "", htmlAttributes: new { @class = "form-control me-2", type = "date" })
            </div>
            @*<div class="col">
                    @Html.Label("Passengers")
                    @Html.TextBox("Passengers", "", htmlAttributes: new { @class = "form-control me-2", value = "1", type = "number" })
                </div>*@
            <div class="col mt-4">
                <button type="submit" class="btn btn-outline-primary glowy">Search &raquo;</button>
            </div>
            <div class="col mt-4">
                <a href="Schedules/Index" class="btn btn-outline-info glowy">Search All &raquo;</a>
            </div>
        </div>
    }

</div>


<div class="container-fluid">
    <div class="row" >
        <div class="col px-2">
            <h1 class="welcome ">Mars:</h1>
        </div>
        <div class="col px-2 ">
            <h1 class="welcome">Moon:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col map">
            <img class="img-fluid" src="~/Content/Images/mars.jpg" alt="Alternate Text" />
            @foreach (var mars in ViewBag.mars)
            {
                <span onclick="mars('@mars.Crater')" class="dot" data-bs-toggle="tooltip" data-bs-placement="top" title="@mars.Crater" style="top:@mars.LocationY%; left:@mars.LocationX%;"></span>
            }

        </div>
        <div class="col map">
            <img class="img-fluid" src="~/Content/Images/moon.jpg" alt="Alternate Text" />
            @foreach (var moon in ViewBag.moon)
            {
                <span onclick="moon('@moon.Crater')" class="dot2" data-bs-toggle="tooltip" data-bs-placement="top" title="@moon.Crater" style="top:@moon.LocationY%; left:@moon.LocationX%;"></span>
            }
        </div>

    </div>
    <div class="row my-1">
        <div class="col">
            <h6 class="welcome">Choose any point on the maps!</h6>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap.bundle.js"></script>
<script defer>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    function moon(name) {
        $("#moon").val(name).change();
    }
    function mars(name) {
        $("#mars").val(name).change();
    }
</script>


