@using System.Data.Entity
@model IEnumerable<MoonMarsTravelAgency.Models.Schedule>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="jumbotron">
        <h1 class="welcome"><span class="moon">Moon</span>-<span class="mars">Mars</span> Travel Agency</h1>
        <p class="s_welcome">Leon&amp;Dori Musk</p>
        <p class="blockquote-footer">Order flights now!</p>

    </div>

    @using (Html.BeginForm("Search", "Schedules", FormMethod.Post))
    {
        <div class="row " id="items">

            <div class="col">
                <label for="moon">Origin</label>
                <select name="moon" id="moon" class="form-control me-2">
                    @foreach (var moon in ViewBag.moon)
                    {
                        <option value="@moon.Crater">@moon.Crater</option>
                    }
                </select>
            </div>

            <div class="col">

                <label for="mars">Destination</label>
                <select name="mars" id="mars" class="form-control me-2">
                    @foreach (var mars in ViewBag.mars)
                    {
                        <option value="@mars.Crater">@mars.Crater</option>
                    }
                </select>
            </div>

            <div class="col">

                @Html.Label("Departure")
                @Html.TextBox("Departure", "", htmlAttributes: new { @class = "form-control me-2", type = "date" })
            </div>

            <div class="col">
                @Html.Label("Return")
                @Html.TextBox("Return", "", htmlAttributes: new { @class = "form-control me-2", type = "date" })
            </div>
            <div class="col">
                @Html.Label("Passengers")
                @Html.TextBox("Passengers", "", htmlAttributes: new { @class = "form-control me-2", value = "1", type = "number" })
            </div>
            <div class="col  mt-4">
                <button type="submit" class="btn btn-success">Search &raquo;</button>
            </div>

        </div>
    }

</div>


