@model MoonMarsTravelAgency.Models.Payment
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form action="Payment" method="post">
        <table>
            <tr>
                <tb>Enter CreditCard : </tb>
                <tb><input type="text" name="txtCreditCard" /></tb>
            </tr>
            <br />
            <tr>
                <tb>Enter CCV : </tb>
                <tb><input type="text" name="txtCCV" /></tb>
            </tr>
            <br />

            <tr>
                <tb>Enter Name : </tb>
                <tb><input type="text" name="txtName" /></tb>
            </tr>
            <br />


            <tr>
                <tb>Enter ID : </tb>
                <tb><input type="text" name="txtID" /></tb>
            </tr>
            <br />


            <tr>
                <tb>Enter Amount : </tb>
                <tb><input type="text" name="txtAmount" /></tb>
            </tr>
            <br />


            <tr>
                <td>Remember card: </td>
                <td><input type="checkbox" name="chkRemember" /></td>
            </tr>
            <br />

            <tr>
                <td colspan="2"><input type="submit" value="Submit Payment" /></td>
            </tr>

        </table>
    </form>*@




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Flights</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CreditCard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreditCard, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreditCard, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CCV, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CCV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CCV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancel", "Buy")
</div>
