<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Moon Mars Travel Agency</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid ">
            @Html.ActionLink("🚀", "Index", "Home", new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    @if (Session["Admin"] != null)
                    {
                        <li class="nav-item">@Html.ActionLink("Users", "Index", "Users", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                <form class="d-flex me-5" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                @if (Session["ID"] != null)
                {
                    <button class="nav-item">@Html.ActionLink(Session["Username"].ToString(), "Details", "Users", new { id = Session["ID"].ToString() }, new { @class = "nav-link" })</button>


                }
                else
                {
                    <button class="align-self-end btn btn-success me-2">@Html.ActionLink("Login", "Index", "Authentication", null, new { @class = "nav-link" })</button>
                    <button class="align-self-end btn btn-danger me-2 ">@Html.ActionLink("Register", "Register", "Test", null, new { @class = "nav-link" })</button>

                }



            </div>
        </div>
    </nav>


    <!--TOP BAR-->
    <div class="container body-content">
        @RenderBody()
        <hr />

        <!--Footer-->
        <footer>
            <p>&copy; @DateTime.Now.Year Leon &amp; Dori</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
