@model IEnumerable<MoonMarsTravelAgency.Models.Schedule>

@{
    ViewBag.Title = "Availble flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var search = Session["LastSearch"];
}

<h2>@ViewBag.Title</h2>

@if (Session["Admin"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (!Model.Any())
{
    <tr><div class="bg-danger h1">NO FLIGHT FOUND</div></tr>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        @if (Session["Admin"] != null)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        else
        {
    <td>@Html.ActionLink("Book", "Book", new { id = item.ID }, new {@class="btn btn-danger"})</td>
        }

    </tr>
    }
    

</table>
}