@model IEnumerable<MoonMarsTravelAgency.Models.Schedule>

@{
    ViewBag.Title = "Availble flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>


@if (Session["Admin"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


@if (!Model.Any())
{
    <tr><div class="bg-danger h1">NO FLIGHT FOUND</div></tr>
}
else
{
    <table class="table" id="sortTable">
        <thead>
            <tr class="bg-gradient">
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduleDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seats)
                </th>
                <th></th>
                @if (Session["Admin"] != null)
                {
                    <th></th>
                }


            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-warning">
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                @if (Session["Admin"] != null)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                }


                <td>@Html.ActionLink("Book", "Book", new { id = item.ID }, new { @class = "btn btn-primary" })</td>


            </tr>
        }


    </table>

    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>

    <script>
        $('#sortTable').DataTable(
            {
                columnDefs: [
                    {
                        target: 6,
                        searchable: false
                    }
                ]
            });
        console.log("dasdas")
    </script>
}

