@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Styles/signin.css")



</head>
<body class="text-center">

    <main class="form-signin w-100 m-auto" id="login">
        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-3 fw-normal fw-bold"> Sign In</h1>
            if (ViewBag?.error)
                {
                    <h2 class="alert-warning">Wrong ID or Password</h2>
                }
            <div class="form-floating">
                @Html.TextBox("loginID", "", htmlAttributes: new { @class = "form-control", placeholder = "ID", type = "number" })
                <label for="loginID">ID</label>
            </div>
            <div class="form-floating">
                @Html.Password("loginPassword", "", htmlAttributes: new { @class = "form-control", placeholder = "Password" , type="password"})
                <label for="loginPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

            <button class="btn btn-warning text-white" type="button" onclick="register()">Register</button>

            @Html.ActionLink("Back to main page", "Index", "Home", null, new { @class = "btn btn-secondary" })


            <p class="mt-5 mb-3 text-muted btn-close-white">&copy; @DateTime.Now.Year Leon &amp; Dori</p>
        }
    </main>

    <main class="form-signin w-100 m-auto" id="register">
        @using (Html.BeginForm("Register", "Authentication", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-3 fw-normal fw-bold"> Register </h1>

            <div class="form-floating">
                @Html.TextBox("registerID", "", htmlAttributes: new { @class = "form-control", placeholder = "ID", type = "number" })
                <label for="registerID">ID</label>
            </div>

            <div class="form-floating">
                @Html.TextBox("registerUsername", "", htmlAttributes: new { @class = "form-control", placeholder = "Username", type = "text" })
                <label for="regiterUsername">Username</label>
            </div>

            <div class="form-floating">
                @Html.TextBox("registerName", "", htmlAttributes: new { @class = "form-control", placeholder = "Name", type = "text" })
                <label for="registerName">Name</label>
            </div>
            <div class="form-floating">
                @Html.TextBox("registerfName", "", htmlAttributes: new { @class = "form-control", placeholder = "Last Name", type = "text" })
                <label for="registerfName">Last Name</label>
            </div>

            <div class="form-floating">
                @Html.Password("registerPassword", "", htmlAttributes: new { @class = "form-control", placeholder = "Password", type = "password" })
                <label for="loginPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

            <button class="btn btn-warning text-white" type="button" onclick="login()">Login</button>

            @Html.ActionLink("Back to main page", "Index", "Home", null, new { @class = "btn btn-secondary" })

            <p class="mt-5 mb-3 text-muted btn-close-white">&copy; @DateTime.Now.Year Leon &amp; Dori</p>
        }
    </main>



</body>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>


<script>
    login();
    function register() {
        $("#login").hide();
        $("#register").show();
    }

    function login() {
        $("#login").show();
        $("#register").hide();
    }

</script>

